html {
    font-size: 17px; 
    font-family: 'Langar', cursive;
  }
  html {
    background-color: #e5ff00;
  }
  body {
    width: 750px;
    margin: 0 auto;
    background-color: #00ff2a;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(157, 255, 0);
  }
  h1 {
    margin: 0;
    padding: 15px 0;
    color: #000000;
    text-shadow: 0px 0px 0px black;
  }
  img {
    display: block;
    margin: 0 auto;
  }